html, body{
  margin:0;
  overflow: hidden;
  height:100%;
  width: 100%;
}

/* 主页tabs */
.app-layout-tabs{
  .ivu-tabs-bar{
    margin-bottom: 0px;
  }
  .ivu-tabs-nav-container{
    height: 41px !important;
    font-size: 17px;
  }
  .ivu-tabs-tab{
    padding: 8px 25px !important;
    height: 40px !important;
    margin-right: 0px !important;
    border-top: 0 !important;
    border-left: 1px solid #dcdee2 !important;
    border-right: 1px solid #dcdee2 !important;
    border-radius: 0px 0px 0 0 !important;
    .ivu-icon{
      height: 17px;
    }
  }
  .ivu-tabs-tab-active{
    height: 41px !important;
  }
  .ivu-tabs-nav-prev{
    line-height: 41px;
  }
  .ivu-tabs-nav-next{
    line-height: 41px;
  }
  .ivu-tabs-nav-scrollable{
    padding: 0 17px;
  }
}

/* header头信息样式 */
.cheader-images{
  float: left;
  img{
    width: 64px;
    height: 64px;
    margin-left: 20px;
  }
}
.cheader-info{
  float: left;
  span{
    color: #fff;
    font-style: oblique;
    font-size: 30px;
    margin-left: 30px;
    letter-spacing: 5px;
    text-shadow: 5px 2px 5px #676a6c;
  }
}
.cheader-user{
  float: right;
  margin-right: 20px;
  .ivu-dropdown{
    font-size: 14px;
    text-align: center;
  }
  .photo{
    line-height: 40px;
    text-align: center
  }
  .menu{
    line-height: 24px;
  }
  a{
    color: white;
  }
}
