.ivu-layout{
  height: 100%;
  overflow: hidden;
  background: #f8f8f9;
}

.ivu-layout-header{
  /*background-image: url(../images/layout/title.jpg);
  background-size: cover;*/
  background: #2a56ae;
  padding: 0px;
}

.ivu-layout-footer{
  padding: 5px 50px;
  text-align: center;
}

.ivu-breadcrumb{
  padding: 10px 20px;
  background-color: #f5f5f5;
}

.ivu-layout-content{
  height: calc(100% - 72px);
  padding: 20px;
  background:#f8f8f9;
}

/* iview 表单中的lable文字大小 */
.ivu-form .ivu-form-item-label{
  font-size: 17px;
}

/* 列表样式 */
.ivu-table{
  font-size: 17px;
  th{
    background-color: #5cadff;
    color: white;
  }
}
/* 分页组件样式 */
.ivu-page{
  margin-top: 10px;
  float: right;
}
/* 按钮组件 */
.ivu-btn{
  margin-right: 10px;
}
.ivu-btn-group{
  .ivu-btn{
    margin-right: 0px;
  }
}
/* 消息提示组件 */
.ivu-message{
  top: 64px !important;
}
/* 弹出框样式 */
.ivu-modal{
  .ivu-modal-header-inner{
    font-size: 17px;
  }
  .ivu-modal-body{
    padding: 30px;
  }
  .ivu-modal-footer{
    .ivu-btn{
      margin-right: 0px;
      span{
        letter-spacing: 5px;
        margin-left: 5px;
      }
    }
  }
}
/* 树形组件样式 */
.ivu-tree{
  ul{
    font-size: 17px;
  }
}
/* 卡片组件样式 */
.ivu-card{
  font-size: 17px;
  .ivu-card-head{
    padding: 12px 16px;
    p{
      height: 26px;
      font-size: 17px;
    }
  }
}

.ivu-menu{
  .ivu-menu-item{
    font-size: 17px;
  }
}

/* radio group */
.ivu-radio-group{
  .ivu-radio-group-item{
    font-size: 17px;
  }
}

/* 抽屉样式 */
.ivu-drawer{
  .ivu-drawer-header{
    .ivu-drawer-header-inner{
      font-size: 17px;
    }
  }
}

/* alert start */
.ivu-alert{
  font-size: 17px;
  line-height: 17px;
}
.ivu-alert-icon{
  font-size: 17px;
}
.ivu-alert-desc{
  font-size: 14px;
  line-height: 25px;
}
.ivu-alert-with-desc {
  .ivu-alert-icon{
    line-height: 30px;
  }
  .ivu-alert-message{
    font-size: 17px;
  }
}
/* alert end */

.ivu-anchor-wrapper{
  font-size: 14px;
}
.ivu-anchor-ink-ball{
  width: 10px;
  height: 10px;
}

.ivu-checkbox-wrapper.ivu-checkbox-large{
  font-size: 17px !important;
}
